  <div class="modal-header mheader">
    <h4 class="page_title">{{title}}</h4>
  </div>

  <div class="mcontent">

    <md-tab-group style="margin-top: 10px">
      <md-tab label="Tid & sted">

        <!-- <form [formGroup]="projectForm" style="margin-top: 20px" novalidate>
          <div>
            <label class="tj-label" for="project">Kunde</label>
            <input class="tj-input" disabled=true name="project" id="project" formControlName="project" />
          </div>
          <div>
            <label class="tj-label" for="address">Adresse</label>
            <input class="tj-input" readonly=true name="address" id="address" formControlName="address" />
          </div>
          <div>
            <label class="tj-label" for="start">Start</label>
            <input class="tj-input" disabled=true name="start" id="start" formControlName="start" />
          </div>
          <div>
            <label class="tj-label" for="end">End</label>
            <input class="tj-input" disabled=true name="end" id="end" formControlName="end" />
          </div>
          <!-- <div>
            <label class="tj-label" for="cars">Biler</label>
            <input class="tj-input" disabled=true name="cars" id="cars" formControlName="cars" />
          </div> -->
        <!-- </form> -->
        <!-- <label style="min-width: 100px">Start</label>
        <md2-datepicker disbled=true style="width: 50px" name="startDate" [type]="datePickerType" [(ngModel)]="startDate" [required]="true" [disabled]="false"
          #dateControl="ngModel">
        </md2-datepicker>
        <div>
          <label style="min-width: 100px">Slutt</label>
          <md2-datepicker style="width: 75px" name="endDate" [type]="datePickerType" [(ngModel)]="endDate" [required]="true" [disabled]="false"
            #dateControl="ngModel">
          </md2-datepicker>
        </div> -->
        <!-- <div>
          <label style="margin-right: 18px; min-width: 90px">Bil</label>
          <md-select class="tj-select" multiple placeholder="Velg bil" floatPlaceholder="never" name="car" id="car" [(ngModel)]="carStr">
            <md-option *ngFor="let car of cars | async" [value]="car.licence">{{car.licence}}</md-option>
          </md-select>
        </div> -->

        <div>
            <label class="tj-label">Kunde</label>
            <span class="tj-label">{{tittel}}</span>
        </div>
        <div>
          <label class="tj-label">Adresse</label>
          <span class="tj-label">{{address}}</span>
        </div>
        <div>
            <label class="tj-label">Start</label>
            <span class="tj-label">{{start}}</span>
        </div>
        <div>
            <label class="tj-label">Slutt</label>
            <span class="tj-label">{{end}}</span>
        </div>
        <div>
          <label class="tj-label">Biler</label>
          <span class="tj-label">{{carStr}}</span>
        </div>
        <div>
          <label style="margin-right: 18px;margin-top: 10px; min-width: 100px">Dirigenter</label>
          <md-select class="tj-select" multiple placeholder="Velg ansatt" floatPlaceholder="never" name="person" id="person" [(ngModel)]="personsStr">
            <md-option *ngFor="let person of persons | async" [disabled]="true" [value]="person.email">{{person.first_name + " " +person.last_name}}
            </md-option>
          </md-select>
        </div>

      </md-tab>

      <md-tab label="Oppmøte mm">
        <!-- <label style="margin-top: 10px">Tid</label> -->
        <div>
            <label class="tj-label">Tid</label>
            <span class="tj-label">{{attendanceTime}}</span>
        </div>
        <!-- <md2-datepicker name="attendanceTime" [type]="datePickerType" [(ngModel)]="attendanceTime" [required]="false" [disabled]="false"
          #dateControl="ngModel">
        </md2-datepicker> -->
        <form [formGroup]="projectForm" novalidate>
          <div style="margin-top: 10px">
            <label class="tj-label" for="attendancePlace">Sted</label>
            <input class="tj-input" disabled="true" name="attendancePlace" id="attendancePlace" formControlName="attendancePlace" />
          </div>
          <div>
            <form [formGroup]="projectForm" style="margin-top: 10px" novalidate>
              <label class="tj-label" for="sign">Skilt</label>
              <input class="tj-input" disabled="true" name="sign" id="sign" formControlName="sign" />
            </form>
          </div>
          <div>
            <label class="tj-label" for="customer">Kontaktpers.</label>
            <input class="tj-input" disabled="true" name="customer" id="customer" formControlName="customer" />
          </div>
          <div>
            <label>Beskrivelse</label>
          <textarea rows="1" disabled="true" cols="1" formControlName="description"></textarea>
          </div>
        </form>
      </md-tab>

      <md-tab label="Vedlegg">
        <form [formGroup]="projectForm" style="margin-top: 10px" novalidate>
          <div *ngFor="let upload of uploads | async">
            <a href="{{upload.url}}">{{upload.name}}</a>
          </div>
        </form>
      </md-tab>

    </md-tab-group>

    <div class="box-error2 boxError2Size" *ngIf="errorMessage" [innerHTML]="errorMessage"></div>
    <div style="height: 40px" *ngIf="!errorMessage"></div>



  </div>
  <div class="mfooter">
    <button md-raised-button color="accent" class="cancel-button pull-right" (click)="close()">Lukk</button>
  </div>
