<md-sidenav-container fullscreen>

  <md-toolbar color="primary">
    <button *ngIf="authService.authenticated | async" md-icon-button style="margin-right: 10px" (click)="sidenav.toggle()">
      <md-icon alt="meny">menu</md-icon>
    </button>
    <img class="showOnLargeScreen" src="assets/images/logo-footer-bg-orange.png" alt="Trafikk-Jentene logo">
    <img class="showOnSmallScreen" src="assets/images/logo-symbol.png" alt="Trafikk-Jentene logo">
    <div style="text-align: center; width: 50%">{{title.getTitle()}}</div>
  </md-toolbar>

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <md-nav-list style="width: 200px; margin-top: 50px">
      <a md-list-item
         [routerLink]="['/projects']" (click)="sidenav.close()" class="nav__link">Oppdrag</a>
      <a md-list-item *ngIf="authService.getIsAdmin() | async"
         [routerLink]="['/persons']" (click)="sidenav.close()" class="nav__link">Ansatte</a>
      <a md-list-item *ngIf="authService.getIsAdmin() | async"
         [routerLink]="['/pos']" (click)="sidenav.close()" class="nav__link">Pos</a>         
      <a md-list-item *ngIf="authService.getIsAdmin() | async"
         [routerLink]="['/cars']" (click)="sidenav.close()" class="nav__link">Biler</a>
      <a md-list-item
         [routerLink]="['/about']" (click)="sidenav.close()" class="nav__link">Om</a>
      <a md-list-item *ngIf="authService.authenticated | async"
         [routerLink]="['']"(click)="authService.signOut();sidenav.close()">Log ut</a>
    </md-nav-list>
  </md-sidenav>

  <main class="container tj-container">
    <router-outlet></router-outlet>
  </main>

</md-sidenav-container>

