@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins";

//=====================================
//  CELLS
//-------------------------------------
.cell {
  &:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: left;
  }

  width: 25%;

  @include media-query(540) {
    width: 20%;
  }

  &:first-child {
    padding-right: 20px;
  }

  &:nth-child(4) {
    flex: 1;
    padding-right: 30px;
    overflow: hidden;
  }

}
